@page "/profiles"

@inject IProfileService _service;
@inject NavigationManager navigate;
<div class="container">
<h1>Profiles List</h1>

<div class="top-actions">
    <div></div>
    <div>
        <button type="button" @onclick="AddProfile">Add Profile</button>
    </div>
</div>

<table>
    <thead class="thead">
        @foreach (var header in tableHeaders)
        {
            <th>@header</th>
        }
    </thead>
    @* Body *@
    <tbody class="tdata">
        @if (profiles.Count>0)
        {
            @foreach (var profile in profiles)
            {
        <tr class="tr-content">
            <td>@profile.FirstName</td>
            <td>@profile.LastName</td>
            <td>@profile.Mobile</td>
            <td> 
                 <a href="profile/@profile.Id">
                    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
                 </a>
            </td>
            <td>
                <a href="profile/@profile.Id/delete">
                    <span class="oi oi-trash me-2" aria-hidden="true"></span>
                </a>
            </td>
        </tr>   
            }
            
        }else
        {
        <tr class="tr-content">
            <td style="text-align: center;"><p>No Profiles yet...!</p></td>
        </tr>
            
        }
    </tbody>
</table>
</div>

@code{
    public IList<Profile> profiles { get; set; }

    protected override void OnInitialized(){

        profiles = _service.FindAll();
    }
    
    public string[] tableHeaders = new string [] {"Firstname", "Lastname", "Phone number", "Edit", "Delete"};

    protected void AddProfile(){
        navigate.NavigateTo("profile/0");   
    }



}